html {
    
}
body {
    column-count: 5;
    gap: 0;



}
.page {
    width: 100vw;
    height: 100vh;

}

#about > *,
#skills > *,
#projects > *,
#contact > *,
#home > * {
    display: none;
}

#about {
    background-color: blue;
}
#skills {
    background-color: red;
}
#projects {
    background-color: yellow;
}
#contact {
    background-color: green;
}
#home {
    background-color: black;
}