/** === RESPONSIVE PORTRAIT === **/

/* === SMARTPHONE === */



/* === TABLET === */

@media screen and (max-width:1023px) and (orientation:landscape) {

    /* === HEADER === */

    /* --- Home --- */

    #home > nav {
        justify-content: flex-end;
        width: 100%;
    }

    .home__nav {
        justify-content: space-between;
    }

    .home__name {
        width: 50%;
        font-size: 10vw;
    }

    .home__title {
        width: 75%;
        font-size: 5vw;
    }

    .home__discover {
        padding: 3vh 3vw;
    }

    /* === MAIN === */

    /* --- About --- */

    #about {
        justify-content: space-between;
    }

    .about__text {
        align-self: center;
    }

    .about__title {
        font-size: 13vh;
        width: 70%;
    }

    .about__img {
        height: 100%;
    }

    /* --- Commun Skills, Projects, Contact --- */

    .title {
        font-size: 4vw;
    }
        
    /* --- Skills --- */

    .div__title {
        font-size: 3vw;
        margin: 0;
    }

    /* --- Projects --- */

    .projects__div {
        justify-content: space-between;
    }

    .projects__item {
        width: 30%;
        flex: none;
    }

    .project__img {
        flex: 1;
    }

    .project__text {
        margin-bottom: 2vh;
    }

    .project__text > h3 {
        font-size: 5vh;
    }
    
    .project__text > p {
        font-size: 2.5vh;
    }

    /* === FOOTER === */

    /* --- Contact --- */

    address {
        display: flex;
        flex-direction: column;
        height: 85%;
        justify-content: space-around;
    }

    .item__img {
        width: 8vh;
    }
}

/* === DESKTOP === */

@media screen and (min-width:1024px) and (orientation:portrait) {
    
    /* === HEADER === */

    /* --- Home --- */

    #home > nav {
        display: flex;
        align-self: flex-end;
    }

    .home__name {
        width: 25%;
        font-size: min(20vw, 10em);
    }

    .home__title {
        font-size: min(5vw, 3em);
    }

    .home__discover {
        padding: 3vh 2vw;
    }

    /* === MAIN === */

    /* --- About --- */

    #about {
        justify-content: space-between;
    }

    .about__text {
        align-self: center;
    }

    .about__title {
        font-size: 5vw;
        width: 25vw;
    }

    .about__img {
        height: 50%;       
    }

    /* --- Commun Skills, Projects, Contact --- */

    .title {
        font-size: 6vw;
    }

    /* --- Skills --- */

    .skills__div {
        margin: 3vh;
    }

    .div__title {
        font-size: min(3vw, 5vh);
        margin: 3vh 0;
    }

    .skills__item > img {
        width: min(12vh, 6vw);
        margin: 2vh;
    }

    /* --- Projects --- */

    .projects__div {
        width: 100%;
    }

    .projects__item {
        margin: 0 2vw;
        justify-content: center;
    }

    .project__img {
        height: 50%;
    }

    /* === FOOTER === */

    /* --- Contact --- */

    .contact__content {
        display: flex;
        flex-direction: column;
    }

    .contact__content > address {
        display: flex;
        flex: 1;
        flex-direction: column;
        justify-content: space-between;
    }

    .item__img {
        width: 6vh;
    }
}