/* 
clair : #d2c9ec
foncé : #615c73
*/

/* === Palette de couleur === */
:root {
    --light: #d2c9ec;
    --dark: #615c73;
    --extra-light: #fff;
    --extra-dark: #000;
}

/* === GLOBAL === */

body {
    font-family: 'Roboto Flex', sans-serif;
    display: flex;
    height: 100vh;
}

/* === COMMUN === */
.page {
    box-sizing: border-box;
    width: 100vw;
    height: 100vh;
    font-size: 2.5vh;
    font-weight: 200;
    letter-spacing: 0.05rem;
}

/* === HEADER === */

header {
    background: url(../images/essaiIMAG0097.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: var(--light);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 4vw;
}

#home > nav {
    display: flex;
}

.home__nav {
    display: flex;
    text-align: center;
}

.nav__item {
    padding: 0 2vw;
}

.home__name {
    align-self: flex-start;
}

.home__title {
    align-self: flex-end;
    text-align: end;
}

header a {
    text-decoration: none;
    color: var(--light);
}

.home__discover {
    border: var(--light) 0.2vh solid;
    border-radius: 5vh;
}

.home__discover > a {
    display: flex;
    align-items: center;
}

.home__discover > a > img {
    height: 3vh;
    width: auto;
    padding-left: 1vh;
    align-items: center;
}

/* === MAIN === */

/* --- About --- */

#about {
    display: flex;
    background-color: var(--dark);
    color: var(--light);
}

.about__text {
    flex: 1;
    width: 92vw;
    padding: 4vw;
}

.about__title {
    margin-bottom: 3vh;
}

.about__p {
    line-height: 1.6;
}

.about__img {
    flex: 1;
    align-self: center;
    background-image: url(../images/test.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/* --- Commun Skills, Projects, Contact --- */

.title {
    font-weight: 300;
}

/* --- Skills --- */

#skills {
    text-align: center;
    color: var(--dark);
    background-color: var(--light);
    padding: 4vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.skills__div {
    margin-top: 4vw;
}

.div__title {
    margin: 4vw 0;
}

.skills__item {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: start;
}

.skills__item > img {
    width: min(18vw, 9vh);
    margin: 2vw;
}

/* --- Projects --- */

#projects {
    display: flex;
    flex-direction: column;
    background-color: var(--dark);
    color: var(--light);
    padding: 4vw;
}

.projects__title {
    text-align: center;
}

.projects__div {
    display: flex;
    flex: 1;
    margin-top: 3vh;
}

.projects__item {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.project__img {
    align-self: center;
    width: 100%;
    border: var(--light) 0.4vh solid;
    border-radius: 3vh;
    background-image: url(../images/loader-custom.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.project__text {
    margin-top: 1vh;
}

.project__text > h3 {
    font-weight: 300;
}

/* === FOOTER === */
/* .information {
    display: flex;
    justify-content: space-evenly;
    clear: left;
    padding: 1em 0;
}

.information .information__item {
    color: var(--dark);
    text-decoration: none;
}

.information__item--icon {
    background-color: var(--dark);
    color: var(--light);
    font-size: 1.35em;
}

.information a:hover {
    background-color: var(--dark);
    color: var(--light);
    border-radius: 2rem;
    transition: 0.2s;
}

.information a:hover .information__item--icon {
    background-color: var(--light);
    color: var(--dark);
    transition: 0.2s;
} */

/** === RESPONSIVE === **/

/* === SMARTPHONE === */

@media screen and (max-width:767px) {

    /* === HEADER === */

    #home > nav {
        display: none;
    }
    .home__name {
        font-size: 25vw;
        width: 90%;
    }

    .home__title {
        font-size: 12vw;
        width: 90%;
    }
    
    .home__discover {
        padding: 3vh 11vw;
    }

    /* === MAIN === */

    /* --- About --- */

    #about {
        flex-direction: column;
        justify-content: space-between;
    }

    .about__title {
        font-size: 15vw;
        width: 70%;
    }

    .about__img {
        width: 100%;       
    }

    /* --- Commun Skills, Projects, Contact --- */

    .title {
        font-size: 10vw;
    }

    /* --- Skills --- */

    .div__title {
        font-size: 8vw;
        margin: 4vw 0;
    }
    
    /* --- Projects --- */

    .projects__div {
        flex-direction: column;
        align-self: center;
        width: 80%;
    }

    .project__img {
        flex: 1;
    }

    .project__text {
        margin-bottom: 2vh;
    }

    .project__text > h3 {
        font-size: 6vw;
    }

    .project__text > p {
        font-size: 4vw;
    }
}

/* === TABLET === */

@media screen and (min-width:768px) and (max-width:1023px) {

    /* === HEADER === */

    #home > nav {
        align-self: center;
        width: 100%;
    }

    .home__nav {
        justify-content: space-between;
    }

    .home__name {
        width: 50%;
        font-size: 18vw;
    }

    .home__title {
        width: 75%;
        font-size: 8vw;
    }

    .home__discover {
        padding: 3vh 6vw;
    }

    /* === MAIN === */

    /* --- About --- */

    #about {
        flex-direction: column;
        justify-content: space-between;
    }

    .about__title {
        font-size: 15vw;
        width: 70%;
    }

    .about__img {
        width: 100%;       
    }

    /* --- Commun Skills, Projects, Contact --- */

    .title {
        font-size: 8vw;
    }
        
    /* --- Skills --- */

    .div__title {
        font-size: 6vw;
    }

    /* --- Projects --- */

    .projects__div {
        flex-direction: column;
        align-self: center;
        width: 60%;
    }

    .project__img {
        flex: 1;
    }

    .project__text {
        margin-bottom: 2vh;
    }

    .project__text > h3 {
        font-size: 4vw;
    }
    
    .project__text > p {
        font-size: 2.5vw;
    }
}

/* === DESKTOP === */

@media screen and (min-width:1024px) {
    
    /* === HEADER === */

    #home > nav {
        display: flex;
        align-self: flex-end;
    }

    .home__name {
        width: 25%;
        font-size: min(20vw, 10em);
    }

    .home__title {
        font-size: min(5vw, 3em);
    }

    .home__discover {
        padding: 3vh 2vw;
    }

    /* === MAIN === */

    /* --- About --- */

    #about {
        justify-content: space-between;
    }

    .about__text {
        align-self: center;
    }

    .about__title {
        font-size: 5vw;
        width: 25vw;
    }

    .about__img {
        height: 50%;       
    }

    /* --- Commun Skills, Projects, Contact --- */

    .title {
        font-size: 6vw;
    }

    /* --- Skills --- */

    .skills__div {
        margin: 3vh;
    }

    .div__title {
        font-size: min(3vw, 5vh);
        margin: 3vh 0;
    }

    .skills__item > img {
        width: min(12vh, 6vw);
        margin: 2vh;
    }

    /* --- Projects --- */

    .projects__div {
        width: 100%;
    }

    .projects__item {
        margin: 0 2vw;
        justify-content: center;
    }

    .project__img {
        height: 50%;
    }
}

.dots,
#home,
#about,
#skills,
#contact,
footer {
    display: none;
}